# ignore everything
*

# exclude
!.gitignore

!*.md
!*.c
!*.h

!Util/


!1-IEEE-802.11/
!2-Ethernet/
!2-LogicalLinkControl/
!3-GeoNetworking/
!4-BasicTransportProtocol/
!7-IntelligentTransportSystem/


